<div class="acerca_de">
    <div class="perfil">
        <img class="fotoPerfil" src="../../../assets/img/BarConT.jpeg" alt="Foto perfil">
        <h2 class="tituloNombre">Diego Barale</h2>
        <p class="tituloSecundario">Full Stack Developer Jr</p>
    </div>
    <div class="contenedor">
        <h2 class="titulo">Acerca de</h2>
        <div class="contenido">
            <p>Mi nombre es Diego Barale, soy autodidacta y muy curioso. Me apasiona el mundo de la programacion y en especial, el desarrollo web.</p>
        </div>
    </div>
</div>
