<div class="proyectos">
    <div class="contenedor">
        <h2 class="titulo">Proyectos</h2> 
        <div *ngIf="isUserLogged" class="botones">
            <i (click)="abrirModalNuevo()" class="fa fa-plus"></i>  
        </div>
        <li *ngFor="let proyecto of proyectosLista; let i = index">
            <div class="contenido">
                <div *ngIf="isUserLogged" class="botones">
                    <i (click)="abrirModalEditar(i)" class="fa fa-pen"></i>  
                    <i (click)="abrirModalEliminar(i)" class="fa fa-trash"></i> 
                </div>
                <h3>{{ proyecto.nombre }}</h3>
                <p>{{ proyecto.descripcion }}</p>
                <p>{{ proyecto.fecha }}</p>
                <a href="{{ proyecto.link }}">Enlace</a>
            </div>
        </li>    
    </div>
</div>

<!-- MODAL -->
<div *ngIf="modal" class="modal" >
    <div class="contenedor contenedor-modal">
        <div class="titulo-modal">
            <h2 class="titulo">{{ tituloModal }}</h2>
            <button (click)="cerrarModal()" class="boton">X</button>
        </div>
        <div class="contenido">
            <form [formGroup]="proyectosForm" (ngSubmit)="onSubmit()">
                <input type="hidden" name="id">
                <div>
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" formControlName="nombre"  maxlength="100">
                </div>
                <div>
                    <label for="descripcion">Descripción</label>
                    <textarea id="descripcion" cols="30" rows="2" formControlName="descripcion" maxlength="200"></textarea>
                </div>
                <div>
                    <label for="fecha">Fecha</label>
                    <input type="text" id="fecha" formControlName="fecha"  maxlength="100">
                </div>
                <div>
                    <label for="link">Link</label>
                    <input type="url" id="link" formControlName="link"  maxlength="200">
                </div>
                <div class="centrar">
                    <button [disabled]="proyectosForm.invalid" type="submit" class="boton">Guardar</button>
                    <button (click)="cerrarModal()" class="boton">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

