* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.caja {
    background-color: #F2F2F2;
    padding: 20px;
    margin: 20px;
    border: solid 1px #CFCFCF;
    border-radius: 20px;
}

.contenido {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 20px;
    border: solid 1px #CFCFCF;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
}

.tituloNombre {
    font-size: 36px;
    font-weight: 600;
}

.tituloSecundario {
    font-size: 24px;
    font-weight: 300;
}

.titulo {
    font-size: 36px;
    font-weight: 300;
    margin-left: 50px;
}

.boton {
    background-color: lightsalmon;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
}

/* HEADER */
.header-superior {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.logo {
    display: flex;
    align-items: center;
}

.redes-login {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bannerImg {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

/* ACERCA DE */
.perfil {
    text-align : center;
}

.fotoPerfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -75px;
}

/* HARD & SOFT SKILLS */
.contenedorBarras {
    text-align: center;
}

.barra {
    width: 90%;
    height: 1.5rem;
    border-radius: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

