/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}

.contenedor {
    background-color: #F2F2F2;
    padding: 20px;
    margin: 20px;
    border: solid 1px #CFCFCF;
    border-radius: 20px;
}

.contenido {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 20px;
    border: solid 1px #CFCFCF;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
}

.titulo {
    font-size: 36px;
    font-weight: 300;
    margin-left: 50px;
}

.centrar {
    text-align: center;
}

.boton {
    background-color: lightsalmon;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 20px;
}

.boton:hover {
    background-color: rgb(255, 160, 80);
}

.logo {
    width: 40px;
    height: 40px;
    float: left;
    margin: 5px 5px 20px 0;
}

/* ICONOS */

.botones {
    float: right;
}

.botones i {
    background-color: #FFFFFF;
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;
}

.contenido .botones i {
    background-color: #F2F2F2;
}

.contenedor > .botones {
    margin-top: -40px;
    margin-right: 40px;
}

.contenedor > .botones:hover {
    padding: 1px;
}

.botones i:hover, .contenido .botones i:hover {
    background-color: #CFCFCF;
}

.contenedor .bajar {
    margin-top: 10px;
}
/* FIN ICONOS */

/* MODAL */
.modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.contenedor-modal {
    width: 70%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
}

.titulo-modal {
    display: flex;
    justify-content: space-between;
}
/* FIN MODAL */

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}