/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.contenedor {
    background-color: #F2F2F2;
    padding: 1rem;
    margin: 1rem;
    border: solid 1px #CFCFCF;
    border-radius: 20px;
}

.contenido {
    background-color: #FFFFFF;
    padding: 1.5rem;
    margin: 1.5rem;
    border: solid 1px #CFCFCF;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
}

.titulo {
    font-size: 2.5rem;
    font-weight: 300;
    margin-left: 3rem;
}

.centrar {
    text-align: center;
}

.boton {
    background-color: lightsalmon;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.6rem 1.25rem;
    border-radius: 10px;
    margin-left: 1.25rem;
    cursor: pointer;
}

.boton:hover {
    background-color: rgb(255, 160, 80);
}

.logo {
    width: 2.5rem;
    height: 2.5rem;
    float: left;
    margin: 5px 5px 20px 0;
}

/* ICONOS */

.botones {
    float: right;
}

.botones i {
    background-color: #FFFFFF;
    margin-right: 0.6rem;
    padding: 0.6rem;
    border-radius: 50%;
}

.contenido .botones i {
    background-color: #F2F2F2;
}

.contenedor > .botones {
    margin-top: -2.5rem;
    margin-right: 2.5rem;
}

.contenedor > .botones:hover {
    padding: 1px;
}

.botones i:hover, .contenido .botones i:hover {
    background-color: #CFCFCF;
    cursor: pointer;
}

.contenedor .bajar {
    margin-top: 0.6rem;
}
/* FIN ICONOS */

/* MODAL */
.modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.contenedor-modal {
    width: 70%;
    height: auto;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
}

.titulo-modal {
    display: flex;
    justify-content: space-between;
}
/* FIN MODAL */

input, textarea {
    width: 100%;
    padding: 0.7rem 1.2rem;
    margin: 0.5rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* RESPONSIVE */
@media only screen and (max-width: 700px) {

    .titulo {
        font-size: 2rem;
    }

    .contenedor {
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .contenido {
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .yoprogramo {
        display: none;
    }

    .contenedor > .botones {
        margin-right: 0;
        padding: 0;
    }

    .boton {
        height: 2.5rem;
    }

    .contenedor-modal {
        width: 90%;
    }
    
}

@media only screen and (max-width: 340px) {
    .redes {
        display: none;
    }

    .contenedor {
        margin: 0.2rem;
        padding: 0.2rem;
    }

    .contenido {
        margin: 0.2rem;
        padding: 0.4rem;
    }

    .boton {
        height: 2rem;
    }

    .contenedor-modal {
        width: 95%;
    }

}