<div class="skills">
    <div class="contenedor">
        <h2 class="titulo">Hard Skills & Soft Skills</h2>
        <div class="contenido">
            <div class="contenedorBarras">
                <h3>Resolución de problemas:</h3>
                <progress class="barra" max="100" value="70"></progress>
            </div>
        </div>
        <div class="contenido">
            <div class="contenedorBarras">
                <h3>Diseño de sistemas:</h3>
                <progress class="barra" max="100" value="50"></progress>
            </div> 
        </div>
    </div>
</div>
