<div class="experiencia">
    <div class="contenedor">
        <h2 class="titulo">Experiencia</h2> 
        <div *ngIf="isUserLogged" class="botones">
            <i (click)="abrirModalNuevo()" class="fa fa-plus"></i>  
        </div>
        <div *ngIf="experienciaLista.length>0">
            <li *ngFor="let experiencia of experienciaLista; let i = index">
                <div class="contenido">
                    <div *ngIf="isUserLogged" class="botones">
                        <i (click)="bajar(i)"class="fa fa-arrow-down"></i> 
                        <i (click)="subir(i)" class="fa fa-arrow-up"></i>
                        <i (click)="abrirModalEditar(i)" class="fa fa-pen"></i>  
                        <i (click)="abrirModalEliminar(i)" class="fa fa-trash"></i>
                        
                        
                    </div>
                    <h3>{{ experiencia.descripcion }}</h3>  
                    <p>{{ experiencia.nombreEmpresa }} - {{ experiencia.tipoEmpleo }}</p>
                    <p><time>{{ experiencia.fechaInicio }}</time> - <time>{{ experiencia.fechaFin }}</time></p>
                </div>
            </li>  
        </div>
        <div *ngIf="experienciaLista.length==0" class="contenido">
            <h3>Agrega una nueva Experiencia</h3>
        </div>
    </div>
</div>

<!-- MODAL -->
<div *ngIf="modal" class="modal" >
    <div class="contenedor contenedor-modal">
        <div class="titulo-modal">
            <h2 class="titulo">{{ tituloModal }}</h2>
            <button (click)="cerrarModal()" class="boton">X</button>
        </div>
        <div class="contenido">
            <form [formGroup]="experienciaForm" (ngSubmit)="onSubmit()">
                <input type="hidden" name="id">
                <div>
                    <label for="nombreEmpresa">Nombre Empresa</label>
                    <input type="text" id="nombreEmpresa" formControlName="nombreEmpresa" maxlength="100">
                </div>
                <div>
                    <label for="fechaInicio">Fecha Inicio</label>
                    <input type="text" id="fechaInicio" formControlName="fechaInicio"  maxlength="50">
                </div>
                <div>
                    <label for="fechaFin">Fecha Fin</label>
                    <input type="text" id="fechaFin" formControlName="fechaFin"  maxlength="50">
                </div>
                <div>
                    <label for="descripcion">Descripción</label>
                    <textarea id="descripcion" cols="30" rows="2" formControlName="descripcion"  maxlength="200"></textarea>
                </div>
                <div>
                    <label for="tipoEmpleo">Tipo Empleo</label>
                    <input type="text" id="tipoEmpleo" formControlName="tipoEmpleo"  maxlength="100">
                </div>
                <div class="centrar">
                    <button [disabled]="experienciaForm.invalid" type="submit" class="boton">Guardar</button>
                    <button (click)="cerrarModal()" class="boton">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>



