.contenedor {
    padding: 0 0 20px 0;
}

.bannerImg {
    height: 31rem;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.tituloNombre {
    font-size: 3rem;
    font-weight: 600;
}

.tituloSecundario {
    font-size: 1.5rem;
    font-weight: 300;
}

.perfil {
    text-align : center;
}

.fotoPerfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -85px;
}

/* RESPONSIVE */
@media only screen and (max-width: 700px) {
    
    .bannerImg {
        height: 15rem;
    }

    .tituloNombre {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 340px) {

    .bannerImg {
        height: 10rem;
    }

    .tituloNombre {
        font-size: 1.5rem;
    }
}
