<div class="header">
    <div class="contenedor">
        <div class="banner">
            <img class="bannerImg" src="../../../assets/img/banner.jpg" alt="Banner">
        </div>
        <div *ngIf="isUserLogged" class="botones bajar">
            <i *ngIf="personaLista.length==0" (click)="abrirModalNuevo()" class="fa fa-plus"></i>
            <i *ngIf="personaLista.length>0" (click)="abrirModalEditar(0)" class="fa fa-pen"></i>
        </div>
        <div class="perfil">
            <img class="fotoPerfil" src="../../../assets/img/BarConT.jpeg" alt="Foto perfil">
            <div *ngIf="personaLista.length>0">
                <h2 class="tituloNombre">{{ personaLista[0]?.nombre}} {{ personaLista[0]?.apellido }}</h2>
                <h2 class="tituloSecundario">{{ personaLista[0]?.profesion }}</h2>
                <h3>{{ personaLista[0]?.correo }}</h3>
                <h3>{{ personaLista[0]?.domicilio }}</h3>
            </div>
            <div *ngIf="personaLista.length==0">
                <h3>Agrega los datos personales</h3>
            </div>
        </div>  
    </div>                  
</div>

<!-- MODAL -->
<div *ngIf="modal" class="modal" >
    <div class="contenedor contenedor-modal">
        <div class="titulo-modal">
            <h2 class="titulo">{{ tituloModal }}</h2>
            <button (click)="cerrarModal()" class="boton">X</button>
        </div>
        <div class="contenido">
            <form [formGroup]="personaForm" (ngSubmit)="onSubmit()">
                <input type="hidden" name="id">
                <div>
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" formControlName="nombre" maxlength="50">
                </div>
                <div>
                    <label for="apellido">Apellido</label>
                    <input type="text" id="apellido" formControlName="apellido" maxlength="50">
                </div>
                <div>
                    <label for="correo">Email</label>
                    <input type="email" id="correo" formControlName="correo" maxlength="100">
                </div>
                <div>
                    <label for="profesion">Profesión</label>
                    <input type="text" id="profesion" formControlName="profesion" maxlength="100">
                </div>
                <div>
                    <label for="domicilio">Domicilio</label>
                    <input type="text" id="domicilio" formControlName="domicilio" maxlength="100">
                </div>
                <div class="centrar">
                    <button [disabled]="personaForm.invalid" type="submit" class="boton">Guardar</button>
                    <button (click)="cerrarModal()" class="boton">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

