<div class="header">
    <div class="contenedor">
        <div class="banner">
            <img class="bannerImg" [src]="miPorfolio?.imagenBanner" alt="Banner">
        </div>
        <div class="perfil">
            <img class="fotoPerfil" [src]="miPorfolio?.imagenPerfil" alt="Foto perfil">
            <h2 class="tituloNombre">{{ miPorfolio?.nombre}} {{ miPorfolio?.apellido }}</h2>
            <p class="tituloSecundario">{{ miPorfolio?.profesion }}</p>
        </div>
    </div>                  
</div>
