.contenedor {
    padding: 0 0 20px 0;
}

.bannerImg {
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.tituloNombre {
    font-size: 36px;
    font-weight: 600;
}

.tituloSecundario {
    font-size: 24px;
    font-weight: 300;
}

.perfil {
    text-align : center;
}

.fotoPerfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -120px;
}

