<header>
    <div class="header">
        <div class="header-superior">
            <div class="logo">
                <img src="../../../assets/img/APLogo-20-20.png" alt="Logo Argentina Programa" width="150px">
                <p class="tituloSecundario">#YoProgramo</p>
            </div>
            <div class="redes-login">
                <div class="redes">
                    <a href="https://web.telegram.org/" target="blank"><i class="fab fa-telegram fa-2x"></i></a>
                    <a href="https://www.linkedin.com/" target="blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    <a href="https://github.com/" target="blank"><i class="fab fa-github fa-2x"></i></a>
                </div>
                <div class="login">
                    <button class="boton">Login</button>
                </div>
            </div>
        </div>
        <div class="banner">
            <img class="bannerImg" src="../../../assets/img/banner.jpg" alt="Banner">
        </div>
    </div>
    
</header>
