.contenedor {
    background-color: #F2F2F2;
    padding: 20px;
    margin: 20px;
    border: solid 1px #CFCFCF;
    border-radius: 20px;
}

.contenido {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 20px;
    border: solid 1px #CFCFCF;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
}

.titulo {
    font-size: 36px;
    font-weight: 300;
    margin-left: 50px;
}