<div class="educacion">
    <div class="contenedor">
        <h2 class="titulo">Educación</h2>
        <div *ngIf="isUserLogged" class="botones">
            <i (click)="abrirModalNuevo()" class="fa fa-plus"></i>  
        </div>
        <li *ngFor="let educacion of educacionLista; let i = index">
            <div class="contenido">
                <div *ngIf="isUserLogged" class="botones">
                    <i (click)="abrirModalEditar(i)" class="fa fa-pen"></i>  
                    <i (click)="abrirModalEliminar(i)" class="fa fa-trash"></i> 
                </div> 
                <img class="logo" src="../../../assets/img/fondo.jpg" alt="Logo {{ educacion.instituto }}">     
                <h3>{{ educacion.instituto }}</h3>
                <p>{{ educacion.titulo }}</p>
                <p>{{ educacion.periodo }}</p>    
            </div>
        </li>   
    </div>
</div>

<!-- MODAL -->
<div *ngIf="modal" class="modal" >
    <div class="contenedor contenedor-modal">
        <div class="titulo-modal">
            <h2 class="titulo">{{ tituloModal }}</h2>
            <button (click)="cerrarModal()" class="boton">X</button>
        </div>
        <div class="contenido">
            <form [formGroup]="educacionForm" (ngSubmit)="onSubmit()">
                <input type="hidden" name="id">
                <div>
                    <label for="instituto">Instituto</label>
                    <input type="text" id="instituto" formControlName="instituto">
                </div>
                <div>
                    <label for="titulo">Título</label>
                    <input type="text" id="titulo" formControlName="titulo">
                </div>
                <div>
                    <label for="periodo">Período</label>
                    <input type="text" id="periodo" formControlName="periodo">
                </div>
                <div>
                    <label for="urlLogo">Logo</label>
                    <input type="file" id="urlLogo" formControlName="urlLogo">
                </div>
                <div class="centrar">
                    <button [disabled]="educacionForm.invalid" type="submit" class="boton">Guardar</button>
                    <button (click)="cerrarModal()" class="boton">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
