<div class="educacion">
    <div class="contenedor">
        <h2 class="titulo">Educación</h2>
        <div *ngIf="isUserLogged" class="botones">
            <i class="fa fa-plus"></i>  
        </div>
        <li *ngFor="let educacion of educacionLista">
            <div class="contenido">
                <div *ngIf="isUserLogged" class="botones">
                    <i class="fa fa-pen"></i>  
                    <i class="fa fa-trash"></i> 
                </div> 
                <img class="logo" src="../../../assets/img/fondo.jpg" alt="Logo {{ educacion.instituto }}">     
                <h3>{{ educacion.instituto }}</h3>
                <p>{{ educacion.titulo }}</p>
                <p>{{ educacion.periodo }}</p>
                
            </div>
        </li>   
    </div>
</div>
